body {
	background-color: #282828;
	color: #fff;
	font-family: Arial, sans-serif;
	user-select: none;
	margin: 0;
}
alertbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #333;
	width: 300px;
	height: 100px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

alertbox_text {
	position: absolute;
	top: 17%;
	left: 3%;
	font-size: 100%;
}
header {
	background-color: #222;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
  }
  
  nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
  }
  
  nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-start; /* new */
  }
  
  nav li {
	margin-right: 20px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
  .search-form {
	display: flex;
	align-items: center;
	justify-content: center; /* updated */
	flex: 1; /* updated */
  }
  
  .search-form input {
	padding: 8px;
	border: none;
	border-radius: 5px;
  }
  
  .search-form button {
	padding: 8px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
  }
  
  .user-info {
	display: flex;
	align-items: center;
  }
  
  .username {
	margin-right: 15px;
  }

  header.dark {
	background-color: #333;
	color: #fff;
  }